//------------------------------------------
//  COLORS
//------------------------------------------
$purple-color: #60135E; // normál szín
$purple-color-light75: #9d279a; // 75%
$purple-color-light50: #d940d5; // 50%
$purple-color-light25: #ff8bfc; // 25%
$purple-color-light5: #faf7fa;  // 5%
$bg-color: #f7f7f7;
$bg-success: #ccf1db;
$font-color: #212529;
$white-color: #ffffff;
$white-color-light: rgba(255, 255, 255, .8);
$font-color-light: #e4e4e4;
$gold: #DDF700;
$orange: #ff9800;
$black: #000000;