//------------------------------------------
//  COLORS
//------------------------------------------
$primaryColor: #60135E; // normál szín
$colorTwo: #087CA7;
$colorThree: #05B2DC;
$colorFour: #FDCA40;
$colorFive: #f5f5f5;

$bgColor: #f7f7f7;
$bgShadow: rgba(0,0,0,.15);
$bgColorSuccess: #ccf1db;

$font: #212529;
$fontLight: #e4e4e4;

$white: #ffffff;
$whiteLight: rgba(255, 255, 255, .8);
$gold: #DDF700;
$orange: #ff9800;
$black: #000000;