//------------------------------------------
//  COLORS
//------------------------------------------
$purple-color: #60135E;               // normál szín
$purple-color-light75: #9d279a;       // 75%
$purple-color-light50: #d940d5;       // 50%
$purple-color-light25: #ff8bfc;       // 25%
$bg-color: #f7f7f7;
$bg-success: #ccf1db;
$font-color: #212529;
$white-color: #ffffff;
$white-color-light: rgba(255,255,255,.8);
$font-color-light: #e4e4e4;
$gold: #DDF700;
$orange: #ff9800;
$black: #000000;
//$font-color-grey: #757575;
//$purple-color: #60135E;
//$error-color: #ff4444;
//$success-color: #00C851;
//$search-color: #fdf6f3;
//$light-grey-color: #f5f5f5;
//$extra-light-grey-color: #4f4f4f;
//$grey-color: #585858;
//$orange-color: #FF7043;
//$new-color: #FF9EFC;
//$light-pink: rgba(96, 19, 94, .5);