@import "colors";

* {
    box-sizing: border-box;
}

main {
    padding-top: 40px;
}

h1, h2, h3, h4, h5, h6, p, a, li, button, .btn, .select2-results__options, .MuiAlert-message {
    font-weight: 300 !important;
    font-family: 'Poppins', 'Roboto', sans-serif!important;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

a {
    display: inline-block;
    color: $purple-color;
}

a:hover {
    text-decoration: none;
    color: $purple-color-light75;
}

svg {
    color: $purple-color!important;
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5) !important;
}

.btn-sm {
    font-size: .65rem;
}

.purple-btn {
    color: $white-color;
    background-color: $purple-color;

    :hover {
        background-color: $purple-color-light75;
    }
}

.jarallax {
    min-height: 600px;
}

.orange-text {
    color: $gold;
}

.bg-purple {
    background-color: $purple-color-light50;
}

.navbar-nav {
    a {
        letter-spacing: 2px;
    }
}