@import "../../../../styles/colors";

.NavLink {
  color: $white-color;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  padding: 0.5rem 0.75rem !important;
  box-sizing: border-box;
}

.NavLink:hover {
  color: $purple-color-light25!important;
}