@import "../../styles/colors";

.HomeSearchContainer {
  background-image: url('../../images/bg_main.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 600px;

  .Title {
    font-weight: 500;
    color: $white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    font-size: 24px;
    line-height: 42px;
  }

  .HomeSearch {
    flex: 1;
    max-width: 700px;
    margin: 0 auto;
    background-color: rgba(96, 19, 94, 0.5);
    color: $fontLight;
    border-radius: 5px;
  }
}