@import "../../styles/colors";

.Footer {
  .LightBox {
    background-color: $colorTwo;
    height: 80px;
    border-bottom: 1px solid $white;
  }

  .LinkBox {
    background-color: $primaryColor;
    color: $white;
  }

  .Copyright {
    background-color: $black;
    border-top: 1px solid $white;
    color: $white;
    line-height: 20px;
    font-size: 12px;
  }

  a {
    color: $white;
    font-size: 12px;
  }

  a:hover {
    text-decoration: underline;
  }

  hr {
    background-color: $whiteLight;
  }

  ul {
    padding-inline-start: 0;

    li {
      list-style-type: none;
    }
  }
}