@import "../../../../styles/colors";

.Item {
  z-index: 3;
  list-style: none;
}

.Active .Link {
  min-width: 20px;
  background-color: $primaryColor;
  color: $white;
  border: 0;
  border-radius: 2px;
  -webkit-box-shadow: 0 .5rem 1rem $bgShadow!important;
  box-shadow: 0 .5rem 1rem $bgShadow!important;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}