{# templates/emails/signup.html.twig #}
<h1>Kedves {{ name|raw }}</h1>

<p>
    {{ sender|raw }} az alábbi üzenetet küldte neked a Tuti Bébiszitter Közvetítőn található Üzenő formon keresztül:
</p>
<p>
    {{ message|raw }}
</p>
<p>
    Ezen az email címen tudod felvenni vele a kapcsolatot: <strong>{{ email }}</strong>. Ez egy automatikusan generált üzenet, kérlek, ne válaszolj rá.
</p>
<p>
    Üdvözlettel,<br>
    Tuti Bébiszitter Közvetító csapata
</p>