@import "../../../styles/colors";

.BabysitterInfo {
    margin-top: 60px;

    li {
        margin-bottom: .5rem;
    }

    .LightPurple {
        background-color: $colorThree;
        color: white;
        padding: 5px;
        border-radius: 4px;
    }
}

