@import "../../../styles/colors";

.Contact {
    padding-top: 60px;

    .FormWrapper {
        background-color: $colorFive;
    }

    .Img {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100%;
        width: 100%;
        min-height: 200px;
        overflow: hidden;
    }

    h4 {
        color: $colorTwo;
    }

    input, textarea {
        background-color: $white;
    }
}

