.Contact {
    padding-top: 60px;

    .Img {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100%;
        width: 100%;
        min-height: 200px;
        overflow: hidden;
    }
}

